@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>RISK MANAGEMENT</h1>
    <p class="lead">RISK MANAGEMENT is a web based framework for managing risk on small or corporate scale.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Generate Risks</h2>
        <p>
            All memebers of an organization are capable of capturing some risk. As these members don't always understand
            stuture of a risk, their input is captured, linked and stored for later processing and sanitation.
        </p>        
    </div>
    <div class="col-md-4">
        <h2>Risk Validation</h2>
        <p>
            The system allows for modifying existing risk by restructuring, filtering duplicates and producing generic version
            of common risks. This is also the phase where a manager can entirely reject a logged risk due to being invalid or badly written.
        </p>        
    </div>
    <div class="col-md-4">
        <h2>Controls</h2>
        <p>
            Put controls in place and link them with risks and mitigation processes. 
            Add values and weight to control the outcomes of assessments.
        </p>        
    </div>
</div>